/** Vendor components */
@import "~material-design-lite/src/material-design-lite";
@import "~mdl-selectfield/dist/mdl-selectfield";
@import "~dialog-polyfill/dialog-polyfill";
@import "~intro.js/minified/introjs.min.css";

/** Styles component */
@import "modules/global";
@import "modules/header";
@import "modules/holder";
@import "modules/sidebar";
@import "modules/canvas";
@import "modules/utilities";
@import "modules/radio";
@import "modules/screenshot-button";
@import "modules/tree-navigator";
@import "modules/upload-button";
@import "modules/help-tour";
@import "modules/form-group";
@import "modules/welcome-page";
@import "modules/visualization-settings-button";
@import "modules/general-settings-button";
@import "modules/dialog";
@import "modules/loader";
