<form [formGroup]="form.getFormGroup()">
    <div *ngFor="let field of form.getFieldDefinition()" class="form-group">
        <div class="form-group" *ngIf="field.type === FormType.Number">
            <label class="label" [for]="form.getName() + field.name">{{ field.options.label }}</label>
            <input class="input" type="number" pattern="-?[0-9]*(\.[0-9]+)?" [id]="form.getName() + field.name" [formControl]="field.control">
        </div>

        <div class="form-group" *ngIf="field.type === FormType.Text">
            <label class="label" [for]="form.getName() + field.name">{{ field.options.label }}</label>
            <input class="input" type="text" [id]="form.getName() + field.name" [formControl]="field.control">
        </div>

        <div class="form-group" *ngIf="field.type === FormType.Toggle">
            <label class="label" [for]="form.getName() + field.name">{{ field.options.label }}</label>

            <label class="input-switch">
                <input type="checkbox"[id]="form.getName() + field.name" [formControl]="field.control">
                <div class="input-switch-slider"></div>
            </label>
        </div>

        <div class="form-group" *ngIf="field.type === FormType.Choice && !getChoiceOptions(field).expanded">
            <label class="label" [for]="form.getName() + field.name">{{ field.options.label }}</label>

            <select [id]="form.getName() + field.name" class="input-select" [formControl]="field.control">
                <option *ngFor="let key of getChoiceOptions(field).choices|keys" [value]="key">{{ getChoiceOptions(field).choices[key] }}</option>
            </select>
        </div>

        <div class="form-group" *ngIf="field.type === FormType.Choice && getChoiceOptions(field).expanded">
            <label class="label" [for]="form.getName() + field.name">{{ field.options.label }}</label>

            <div *ngFor="let key of getChoiceOptions(field).choices|keys" class="input-radio">
                <input type="radio" [id]="form.getName() + field.name + key" name="options" [value]="key" [formControl]="field.control" [attr.checked]="field.control.value == key ? true : null">
                <label [for]="form.getName() + field.name + key">{{ getChoiceOptions(field).choices[key] }}</label>
            </div>
        </div>

        <div class="form-group" *ngIf="field.type === FormType.Slider">
            <label class="label" [for]="form.getName() + field.name">{{ field.options.label }}</label>

            <input type="range" [attr.step]="getSliderOptions(field).step ? getSliderOptions(field).step : null" [id]="form.getName() + field.name" class="full-width" [min]="getSliderOptions(field).min" [max]="getSliderOptions(field).max" [formControl]="field.control">
        </div>
    </div>
</form>