<div class="visualization-picker">
    <button class="header-button-icon" (click)="open()">
        <i class="mdi mdi-{{icon}}"></i>
    </button>

    <div class="visualization-picker-overlay" (click)="close()" [hidden]="!opened"></div>

    <ul class="visualization-picker-dropdown" [hidden]="!opened">
        <li class="visualization-picker-dropdown-item" *ngFor="let visualizer of visualizers;" (click)="selectItem(visualizer)">
            <div class="visualization-picker-dropdown-visualizer-image-holder">
                <img [src]="visualizer.getThumbnailImage()" class="visualization-picker-dropdown-visualizer-image">
            </div>
            {{ visualizer.getName() }}
        </li>
    </ul>
</div>