<button class="header-button-icon" (click)="open()">
    <i class="mdi mdi-settings"></i>
</button>

<dialog class="mdl-dialog" #dialog tabindex="-1">
    <h4 class="mdl-dialog__title">Settings</h4>
    <div class="mdl-dialog__content">
        <p>
            Using this tool you can tweak general visualization settings.
        </p>

        <app-form #formComponent [form]="form" (valueChanges)="updateValue()" [debounceTime]="0"></app-form>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button close" (click)="close()">Close</button>
        <button type="button" class="mdl-button general-settings-reset-button" (click)="resetDefault()">Reset</button>
    </div>
</dialog>
