<div class="dropdown-holder">
    <button class="header-button-icon" (click)="toggle()">
        <i class="mdi mdi-settings"></i>
    </button>

    <div [hidden]="!view" class="dropdown dropdown-up">
        <div class="dropdown-content">
            <p>
                Using this tool you can tweak general visualization settings.
            </p>

            <app-form #formComponent [form]="form" (valueChanges)="updateValue()" [debounceTime]="0"></app-form>

            <div class="dropdown-actions">
                <button type="button" class="button button-primary button-no-shadow button-small" (click)="close()">Close</button>
                <button type="button" class="button button-primary button-no-shadow button-small" (click)="resetDefault()">Reset</button>
            </div>
        </div>
    </div>
</div>

<div class="dropdown-overlay" [hidden]="!view" (click)="close()"></div>