<div #layoutContainer [class.dark-mode]="darkMode">
    <header [hidden]="!showApp">
        <img class="header-logo" src="assets/images/logo-white.png">

        <div class="header-center">
            <app-visualization-picker [hidden]="isSideBySideViewMode() && tabs.length >= SIDE_BY_SIDE_MAX_WINDOWS" [visualizers]="visualizers" (select)="addVisualization($event)"></app-visualization-picker>
        </div>

        <div class="header-buttons">
            <app-loader [white]="true" [hidden]="!isLoading() || showFullScreenLoader"></app-loader>
            <app-upload-tool (newContent)="parseTree($event)"></app-upload-tool>
            <app-general-settings-button></app-general-settings-button>
            <app-help-button [container]="layoutContainer"></app-help-button>
        </div>
    </header>
    <main class="content" (mouseup)="stopResize()" (mousemove)="doResize($event)">
        <div class="holder" [hidden]="!showApp || tabs.length == 0">
            <div class="holder-tabs" [hidden]="!isTabViewMode()">
                <div *ngFor="let tab of tabs;" (click)="switchTab(tab)" class="holder-tab holder-header" [class.is-active]="tab.active">
                    <div class="holder-header-title">
                        {{ tab.visualizer?.getName() }}
                        <i class="mdi mdi-close-circle holder-header-close" (click)="closeTab(tab)"></i>
                    </div>
                </div>
            </div>

            <div class="holder-app" [class.holder-app-side-by-side]="isSideBySideViewMode()" [class.holder-app-tabs]="isTabViewMode()" #appHolder>
                <ng-container *ngFor="let tab of tabs; let i = index;">
                    <section class="full-height holder-item holder-item-{{ i + 1}}" [class.holder-tab-panel]="isTabViewMode()" [class.is-active]="tab.active" #tabSection>
                        <div class="page-content full-height holder-view">
                            <div class="holder-header">
                                <div class="holder-header-title">
                                    {{ tab.visualizer.getName() }}
                                    <app-visualization-picker class="holder-header-pick-visualization" type="tab" [hidden]="!tree" [identifier]="'header-switch-' + i" [visualizers]="visualizers" (select)="updateVisualization($event, tab)"></app-visualization-picker>
                                    <i class="mdi mdi-close-circle holder-header-close" (click)="closeTab(tab)"></i>
                                </div>
                            </div>

                            <app-window [tree]="tree" [visualizer]="tab.visualizer" [tab]="tab" (loading)="updateLoading($event)" (redrawAll)="redrawAllTabs()" [snackbar]="snackbar"></app-window>
                        </div>
                    </section>
                </ng-container>

                <div class="holder-divider" #resizer [hidden]="!isSideBySideViewMode() || tabs?.length < 2" (mousedown)="startResize()"></div>
            </div>
            <div #holderSidebar class="holder-sidebar" [class.holder-sidebar-tabs]="isTabViewMode()" [hidden]="!tree ">
                <app-sidebar [tree]="tree" (reset)="restoreTree()" (export)="exportTree()"></app-sidebar>
            </div>
        </div>

        <app-welcome-page [visualizers]="visualizers" [hidden]="tabs.length > 0" [showApp]="showApp" (newContent)="parseTree($event)" (goToApp)="goToApp()"></app-welcome-page>
    </main>

    <div class="dialog full-screen-loader" #fullScreenLoader [hidden]="!loaderVisible">
        <div class="dialog-modal">
            <app-loader></app-loader>
        </div>
    </div>

    <div #snackbar class="mdl-js-snackbar mdl-snackbar" style="display: none;">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>
</div>
