<div #layoutContainer [class.dark-mode]="darkMode">
    <header [hidden]="!showApp">
        <img class="header-logo" src="assets/images/logo-white.png">

        <div class="header-center">
            <app-visualization-picker [hidden]="isSideBySideViewMode() && tabs.length >= SIDE_BY_SIDE_MAX_WINDOWS" [visualizers]="visualizers" (select)="addVisualization($event)"></app-visualization-picker>
        </div>

        <div class="header-buttons">
            <!--<app-loader [hidden]="!isLoading() || showFullScreenLoader"></app-loader>-->
            <app-general-settings-button></app-general-settings-button>
            <app-upload-tool (newContent)="parseTree($event)"></app-upload-tool>
            <app-help-button [container]="layoutContainer"></app-help-button>
        </div>

        <!--<div class="mdl-layout__tab-bar tab-bar mdl-js-ripple-effect" *ngIf="isTabViewMode()" [mdl]>-->
            <!--<a *ngFor="let tab of tabs;" (click)="switchTab(tab)" class="mdl-layout__tab-app" [class.is-active]="tab.active">-->
                <!--{{ tab.visualizer?.getName() }}-->

                <!--<i class="material-icons close-tab" (click)="closeTab(tab)">close</i>-->
            <!--</a>-->
        <!--</div>-->
    </header>
    <main class="content" (mouseup)="stopResize()" (mousemove)="doResize($event)">
        <div class="holder" [hidden]="!showApp || tabs.length == 0">
            <div class="holder-app" [class.holder-app-side-by-side]="isSideBySideViewMode()" [class.holder-app-tabs]="isTabViewMode()" #appHolder>
                <ng-container *ngFor="let tab of tabs; let i = index;">
                    <section class="full-height holder-item holder-item-{{ i + 1}}" [class.mdl-layout__tab-panel]="isTabViewMode()" [class.is-active]="tab.active" #tabSection>
                        <div class="page-content full-height holder-view">
                            <div class="holder-header">
                                <div class="holder-header-title">
                                    {{ tab.visualizer.getName() }}
                                    <app-visualization-picker icon="expand_more" [hidden]="!tree" [identifier]="'header-switch-' + i" [visualizers]="visualizers" (select)="updateVisualization($event, tab)"></app-visualization-picker>
                                </div>

                                <i class="material-icons holder-header-close" (click)="closeTab(tab)">close</i>
                            </div>

                            <app-window [tree]="tree" [visualizer]="tab.visualizer" [tab]="tab" (loading)="updateLoading($event)" (redrawAll)="redrawAllTabs()" [snackbar]="snackbar"></app-window>
                        </div>
                    </section>
                </ng-container>

                <div class="holder-divider" #resizer [hidden]="!isSideBySideViewMode() || tabs?.length < 2" (mousedown)="startResize()"></div>
            </div>
            <div class="holder-sidebar" [hidden]="!tree">
                <app-sidebar [tree]="tree" (reset)="restoreTree()"></app-sidebar>
            </div>
        </div>

        <app-welcome-page [visualizers]="visualizers" [hidden]="tabs.length > 0" [showApp]="showApp" (newContent)="parseTree($event)" (goToApp)="goToApp()"></app-welcome-page>
    </main>

    <dialog class="mdl-dialog full-screen-loader" #fullScreenLoader tabindex="-1">
        <div class="mdl-dialog__content">
            <app-loader></app-loader>
        </div>
    </dialog>

    <div #snackbar class="mdl-js-snackbar mdl-snackbar" style="display: none;">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>
</div>
