.button {
  text-transform: uppercase;
  background: white;
  outline: none !important;
  width: 100%;
  padding: 0.85rem 2rem;
  color: $color-primary;
  font-family: inherit;
  font-weight: bold;
  border-radius: 0.4rem;
  font-size: 1rem;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
  margin: 0.4rem 0;
  cursor: pointer;
  display: block;
  text-align: center;

  &:hover {
    background: $color-white-hover;
  }
}

.button-no-shadow {
  box-shadow: none;
}

.button-primary {
  color: white;
  background: $color-primary;

  &:hover {
    background: darken($color-primary, 6%);
  }
}

.button-small {
  border-radius: 0.2rem;
  padding: 0.5rem 0.1rem;
  font-size: 0.8rem;
}

.button-round {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  margin: 0;
}