/** @author Mathijs Boezer */
$dark-primary: rgb(10, 10, 10);
$dark-secondary: rgb(20, 20, 20);
$dark-canvas: rgb(50, 50, 50);
$dark-dialogs: rgb(30, 30, 30);
$dark-dialogs_hover: rgb(80, 80, 80);

.dark-mode {
    .canvas {
        background-color: $dark-canvas;
    }

    .holder-sidebar {
        background-color: $dark-secondary;
        .sidebar {
            background-color: $dark-secondary;

            .mdl-card__title, .sidebar-content{
                color: white;
            }

            .mdl-card__actions .mdl-button {
                color: white !important;
            }
        }
    }

    .mdl-dialog {
        color: white;
        background-color: $dark-dialogs;

        .mdl-dialog__content, .mdl-dialog__title, .mdl-button {
            color: white;
            background-color: $dark-dialogs;
        }

        select {
            background-color: $dark-dialogs;
        }
    }

    .mdl-layout__drawer {
        color: white;
        background-color: $dark-secondary;
        border-right-color: $dark-secondary;
    }

    .mdl-layout__header {
        background-color: $dark-primary;

        .mdl-layout__tab-bar, .mdl-layout__tab-bar-button .material-icons {
            background-color: $dark-primary;
        }
    }

    .mdl-layout__tab-bar-button {
        background-color: $dark-primary;
    }

    .welcome-page {
        background-color: $dark-secondary;
    }

    .introjs-tooltip {
        background-color: $dark-secondary;
    }

    .introjs-tooltiptext {
        color: white !important;
    }

    .introjs-button {
        color: white;
    }

    .settings-button-form {
        background-color: $dark-primary;
        color: white;
        .mdl-textfield__label {
            color: white;
        }
    }

    .mdl-menu {
        background-color: $dark-dialogs;
        .mdl-menu__item {
            color: white;
        }
        .mdl-menu__item:hover {
            background-color: $dark-dialogs_hover;
        }
    }
}

/** @end-author Mathijs Boezer */
