/** @author Mathijs Boezer */
.data-selection-container {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    float: left;
    width: 100%;
}

.dataset-selector {
    width: 150px;
}

.data-selection-button {
    width: 40px;
}

.data-selection-title {
    font-size: 18px;
}
/** @end-author Mathijs Boezer */
