/** @author Bart Wesselink */
.dropdown {
    width: 20rem;
    position: absolute;
    overflow: visible;
    min-height: 0;
    background: white;
    font-size: 0.8rem;
    padding: 1rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 12px -1px rgba(0,0,0,0.75);
    z-index: 700;

    &::after, &::before {
        display: none;
        position: absolute;
        content: ' ';
        z-index: 800;

        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 12.5px 0 12.5px;
        border-color: white transparent transparent transparent;
    }

    // small triangle
    &.dropdown-down {
        right: 2rem;
        bottom: 6rem;

        &::after {
            display: block;
            bottom: -7px;
            right: 0.8rem;
        }
    }

    &.dropdown-up {
        top: 3rem;
        right: 0;

        &::before {
            display: block;
            top: -7px;
            right: 0.2rem;
            transform: rotate(180deg);
        }
    }

    p:first-child {
        margin-top: 0;
    }
}

.dropdown-overlay {
    position: fixed;
    z-index: 699;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.dropdown-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    .button {
        margin: 0;
        margin-right: 0.2rem;

        &:last-of-type {
            margin-right: 0;
        }
    }
}

.dropdown-content {
    max-height: calc(100vh - 7rem);
    overflow-y: auto;
    overflow-x: hidden;
}

.dropdown-holder {
    position: relative;
}
/** @end-author Bart Wesselink */