/** @author Bart Wesselink */
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 8;
    height: 3.8rem;
    background-color: $color-primary;
    position: relative;
    padding: 0.3rem;
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);

    &[hidden] {
      display: none;
    }
}

.header-logo {
    height: 100%;
}

.header-button-icon {
    border-radius: 0.3rem;
    background: white;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-primary;
    font-size: 1.5rem;
    cursor: pointer;
    border: 0;
    margin: 0;

    &:hover {
        background-color: $color-white-hover;
    }
}

.header-center {
    position: absolute;
    left: 50%;
    margin-left: -1rem;
}

.header-buttons {
    display: flex;
    justify-content: flex-end;

    .header-button-icon {
        margin-left: 0.5rem;
    }
}
/** @end-author Bart Wesselink */
