/** @author Mathijs Boezer */
.introjs-helperLayer {
    background-color: rgba(150,150,150,0.7);
    border-radius: 2px;
}

.introjs-tooltip {
    padding: 10px 10px;
    background-color: white;
    min-width: 250px;
    max-width: 350px;
    border-radius: 0;
}

.introjs-tooltiptext {
    margin-left: -10px;
    margin-right: -10px;
    font: 16px/normal Helvetica;
    color: black !important;
    padding: 25px 30px 15px;
}

.introjs-tooltipbuttons {
    border-radius: 0;
}

.introjs-button {
    border: none;
    background: transparent;
    font: 14px/normal Helvetica;
    color: black;
    border-radius: 2px;
    margin-top: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-transform: uppercase;

    &:focus, &:active, &:hover {
        background: rgba(158,158,158, 0.20);
    }
}

.introjs-nextbutton {
    margin-right: 10px;
}

.introjs-skipbutton {
    float: left;
    margin-left: 10px;
}

.introjs-disabled {
    color: #C2C2C2;
}

.introjs-progress {
    background-color: lightgrey;
    margin: 5px 20px;
    border-radius: 0;
}

.introjs-progressbar {
    background-color: grey;
    border-radius: 0;
}

html {
    overflow: hidden;
}
/** @end-author Mathijs Boezer */
