/** @author Mathijs Boezer */
.introjs-helperLayer {
    background-color: rgba(150,150,150,0.7);
    border-radius: 0;
}

.introjs-tooltip {
    padding: 1rem;
    background-color: white;
    width: 100%;
    max-width: 40rem;
    min-width: 20rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 12px -1px rgba(0,0,0,0.75);
}

.introjs-tooltiptext {
    color: $color-dark !important;
    margin-bottom: 1rem;
    padding: 1rem 1.2rem 0 1.2rem;
}

.introjs-tooltipbuttons {
    border-radius: 0;
    margin: 0 1.2rem;
}

.introjs-button {
    @extend .button;
    @extend .button-no-shadow;
    @extend .button-primary;
    @extend .button-small;

    width: auto !important;
    display: inline-block !important;
    text-shadow: none;
    padding: 0.5rem 0.8rem !important;
    background: $color-primary !important;

    &.introjs-disabled {
        border: 0;
        background: $color-primary;
        pointer-events: none;
        opacity: 0.6;
    }

    &:not(:last-of-type) {
        margin-right: 0.3rem;
    }

    &:hover {
        background: darken($color-primary, 6%) !important;
        box-shadow: none;
    }
}

.introjs-nextbutton {
    margin-right: 10px;
}

.introjs-skipbutton {
    float: left;
    margin-left: 10px;
}

.introjs-disabled {
    color: #C2C2C2;
}

.introjs-progress {
    background-color: $color-dark;
    margin: 5px 20px;
    border-radius: 0;
}

.introjs-progressbar {
    background-color: $color-primary;
    border-radius: 0;
}
/** @end-author Mathijs Boezer */
