/** @author Bart Wesselink */
.holder {
  display: flex;
  background: $color-dark;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  &[hidden] {
    display: none;
  }
}

.holder-app {
  flex-grow: 1;
  position: relative;

  &.holder-app-side-by-side {
    padding: 0.5rem 1rem;
    height: 100%;
    position: relative;

    section {
      width: 100%;
      height: auto;
    }

    .page-content {
      display: flex;
      flex-direction: column;
      border-radius: 0.3rem;
      box-shadow: 0 0 5px -1px rgba(0,0,0,0.75);
    }

    app-window {
      flex-grow: 1;
      height: 100%;
    }

    .holder-header-close, .holder-header-pick-visualization {
      &:hover {
        color: rgba(255, 255, 255, .8);
      }
    }

    display: flex;

    .holder-divider {
      cursor: col-resize;
      height: 100%;
      width: 1rem;
      order: 2;
      flex-grow: 0;
      flex-shrink: 0;
    }

    .holder-item-1 {
      order: 1;
    }

    .holder-item-2 {
      order: 3;
    }

    .holder-header {
      display: block;
    }
  }

  &.holder-app-tabs {
    section {
      width: auto !important; // has to be important in order to make it work between tab/side-by-side
    }

    .holder-content {
      height: 100%;
    }

    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
  }
}

.holder-mover {
  display: none;
  width: 0.5rem;
  height: 100%;
  margin: 0 0.4rem;
  background: rgba(0, 0, 0, .6);
  cursor: col-resize;
}

.holder-sidebar {
  width: 18rem !important;
  flex-grow: 0;

  &.holder-sidebar-tabs {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }
}

.holder-header {
  display: block;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  background: white;
  box-shadow: 0 0 4px -1px rgba(0,0,0,0.75);
}

.holder-app-side-by-side .holder-header, .holder-header.is-active {
  background: $color-primary;
  color: white;
}

.holder-header-title {
  padding: 0.3rem;
  display: flex;
  font-size: 0.9rem;
}

.holder-header-pick-visualization {
  margin-left: 0.5rem;
  cursor: pointer;
}

.holder-header-close {
  cursor: pointer;
  padding-left: 0.3rem;
  margin-left: 0.3rem;
  border-left: 1px solid white;
}

.holder-header {
  display: none;
}

.holder-view {
  position: relative;
}

.holder-tabs {
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  .holder-header {
    position: static;
    display: block;
    margin-right: 0.5rem;
    cursor: pointer;
  }

  &[hidden] {
    display: none;
  }
}

.holder-tab-panel {
  display: none;

  &.is-active {
    display: block;
  }
}
/** @end-author Bart Wesselink */