/** @author Bart Wesselink */
.holder {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.holder-app {
  flex-grow: 1;
  position: relative;

  &.holder-app-side-by-side {
    height: calc(100vh - 64px);
    max-height: calc(100vh - 64px);
    overflow: hidden;
    position: relative;

    section {
      width: 100%;
      height: auto;
      padding: 1rem;
    }

    .page-content {
      display: flex;
      flex-direction: column;
    }

    .holder-content {
      height: 100%;
      border-width: 0 1px 1px 1px;
      border-style: solid;
      box-sizing: border-box;
      //border-color: unquote("rgb(#{$palette-indigo-500})");
      overflow: hidden;
      position: relative;
    }

    app-window {
      flex-grow: 1;
    }

    .holder-header {
      display: flex;
    }

    display: flex;

    .holder-divider {
      background: rgba(0, 0, 0, .8);
      cursor: col-resize;
      height: 100%;
      width: 0.6rem;
      order: 2;
      flex-grow: 0;
    }

    .holder-item-1 {
      order: 1;
    }

    .holder-item-2 {
      order: 3;
    }
  }

  &.holder-app-tabs {
    section {
      width: auto !important; // has to be important in order to make it work between tab/side-by-side
    }

    .holder-content {
      height: 100%;
    }
  }
}

.holder-mover {
  display: none;
  width: 0.5rem;
  height: 100%;
  margin: 0 0.4rem;
  background: rgba(0, 0, 0, .6);
  cursor: col-resize;
}

.holder-sidebar {
  width: 20rem;
  flex-grow: 0;
}

.holder-header {
  display: none;
  height: 2rem;
  flex-grow: 0;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 0.8rem 2rem;
  color: white;
  //background-color: unquote("rgb(#{$palette-indigo-500})");
  //border: 1px solid unquote("rgb(#{$palette-indigo-500})");
}

.holder-header-close {
  color: white;
  cursor: pointer;
}

.holder-view {
  position: relative;
}
/** @end-author Bart Wesselink */