/** @author Bart Wesselink */
.holder {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  &[hidden] {
    display: none;
  }
}

.holder-app {
  flex-grow: 1;
  position: relative;

  &.holder-app-side-by-side {
    background: $color-dark;
    padding: 0.5rem 1rem;
    height: 100%;
    overflow: hidden;
    position: relative;

    section {
      width: 100%;
      height: auto;
    }

    .page-content {
      display: flex;
      flex-direction: column;
      border-radius: 0.3rem;
      overflow: hidden;
    }

    app-window {
      flex-grow: 1;
      height: 100%;
    }

    .holder-header {
      display: flex;
      position: absolute;
    }

    display: flex;

    .holder-divider {
      cursor: col-resize;
      height: 100%;
      width: 2rem !important;
      order: 2;
      flex-grow: 0;
    }

    .holder-item-1 {
      order: 1;
    }

    .holder-item-2 {
      order: 3;
    }
  }

  &.holder-app-tabs {
    section {
      width: auto !important; // has to be important in order to make it work between tab/side-by-side
    }

    .holder-content {
      height: 100%;
    }
  }
}

.holder-mover {
  display: none;
  width: 0.5rem;
  height: 100%;
  margin: 0 0.4rem;
  background: rgba(0, 0, 0, .6);
  cursor: col-resize;
}

.holder-sidebar {
  width: 20rem;
  flex-grow: 0;
}

.holder-header {
  display: none;
}

.holder-view {
  position: relative;
}
/** @end-author Bart Wesselink */