/** @author Bart Wesselink */
.input {
    width: 100%;
    border: 0;
    outline: 0 !important;
    color: $color-dark;
    padding: 0.5rem 0;
    border-bottom: 0.1rem solid $color-primary;
    font-size: 1rem;
    margin: 0.3rem 0;
}
/** @end-author Bart Wesselink */