/** @author Bart Wesselink */
.loader {
  background-size: 100% 100%;
  background-image: url('../images/loader.svg');
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
}

.loader-white {
  background-image: url('../images/loader-white.svg');
}

.full-screen-loader .dialog-modal {
  width: fit-content;

  .loader {
    margin-right: 0;
  }
}
/** @end-author Bart Wesselink */