/** @author Bart Wesselink */
.screenshot-button {
  position: absolute;
  right: 5.5rem;
  bottom: 2rem;
}

.holder.has-sidebar .holder-app-tabs .screenshot-button {
  right: 23.5rem;
}
/** @end-author Bart Wesselink */