/** @author Bart Wesselink */
.settings-button {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
}

.settings-button-form {
  width: 20rem;
  position: absolute;
  right: 2rem;
  bottom: 7rem;
  overflow: visible;
  min-height: 0;

  // small triangle
  &::after {
    display: block;
    position: absolute;
    bottom: -8px;
    right: 1.1rem;
    content: ' ';

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 12.5px 0 12.5px;
    border-color: rgba(0, 0, 0, .2) transparent transparent transparent;
  }
}
/** @end-author Bart Wesselink */