/** @author Bart Wesselink */
.sidebar {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar-content {
  flex-grow: 1;
  overflow: auto;
  height: 100%;
}
/** @end-author Bart Wesselink */
