/** @author Bart Wesselink */
.tree-navigator {
  list-style-type: none;
  margin: 0;
  padding: 0;

  .tree-navigator-item-button {
    vertical-align: middle;
    margin-right: 0.5rem;
    cursor: pointer;
  }

  .tree-navigator {
    padding-left: 1.5rem;
  }
}

.tree-navigator-item {
  white-space: nowrap;
}

.tree-navigator-item.leaf {
  padding-left: 2rem;
}

.tree-navigator-label {
  cursor: pointer;
  padding: 0.3rem 0.5rem;
}

.tree-navigator-unnamed {
  color: #CCC;
  font-style: italic;
}

.tree-navigator-selected {
  background: rgba(0, 0, 0, .1);
  border: 0.0675rem solid rgba(0, 0, 0, .4);
}
/** @end-author Bart Wesselink */
