/** @author Bart Wesselink */
.welcome-page {
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  height: 100vh;
  background-color: $color-primary;
}

.triangle { 
  width: 0; 
  height: 0; 
  z-index: 300;
  margin-top: 0rem;
  border-bottom: 100px solid transparent;
  border-left: 100vw solid $color-primary;
}

.welcome-page-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem;
  flex-grow: 0;
  z-index: 400;
}

.welcome-page-logo {
  margin-bottom: 1rem;
}

.welcome-page-title {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 3rem;
}

.welcome-page-authors {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0.4rem;
}

.welcome-thumbnail {
  filter: brightness(0);
  opacity: 0.5;
  margin-bottom: 3rem;

  &:not(:last-of-type) {
    margin-right: 0.5rem;
  }
}

.welcome-thumbnails {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.welcome-page-bottom {
  width: 100%;
  flex-grow: 1;
  background-color: $color-primary;
  position: relative;
  margin-top: -6.25rem;
  display: flex;
  justify-content: center;
}

.welcome-page-animation-canvas {
  position: absolute;
  width: 100%;
  height: 100%;  
}

.welcome-page-buttons-content {
  max-height: 100%;
  overflow: visible;

  > * {
    width: 100%;
  }
}

.welcome-page-buttons {
  width: 100%;
  max-width: 20rem;
  position: relative;
  margin-top: 3.5rem;
  z-index: 400;
  height: 100%;
  padding: 1rem 0;

  button {
    margin: 1rem 0;

    &:last-child {
      margin-bottom: 0;
    }

    &:first-child {
      margin-top: 0;
    }
  }
}

.welcome-page-full-screen-animation {
  .triangle { 
  	display: none;
  }

  .welcome-page-top {
    display: none;
  }

  .welcome-page-bottom {
    margin-top: 0;
    background-color: $color-dark;

    &:before {
      display: none;
    }
  }

  .welcome-page-animation-canvas {
    transform: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  .welcome-page-buttons {
    display: none;
  }
}
/** @end-author Bart Wesselink */
