/** @author Bart Wesselink */
.welcome-page {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  color: white;
  background-color: unquote("rgb(#{$palette-indigo-900})");
  flex-direction: column;
}

.welcome-thumbnail {
  filter: brightness(0) invert(1);

  &:not(:last-of-type) {
    margin-right: 0.5rem;
  }
}

.welcome-examples {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.welcome-thumbnails {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.welcome-content {
  width: 100%;
  max-width: 40rem;
  text-align: center;
}
/** @end-author Bart Wesselink */