<div class="view-cube">
    <div class="view-cube-pan-rotate">
        <div class="view-cube-rotate view-cube-rotate-left" (mousedown)="rotateLeft(true)" (mouseup)="rotateLeft(false)" (mouseleave)="rotateLeft(false)"></div>

        <div class="view-cube-help" (click)="openHelp()"></div>

        <div class="view-cube-pan">
            <div class="view-cube-arrow view-cube-arrow-left" (mousedown)="moveLeft(true)" (mouseup)="moveLeft(false)" (mouseleave)="moveLeft(false)"></div>
            <div class="view-cube-arrow view-cube-arrow-up" (mousedown)="moveUp(true)" (mouseup)="moveUp(false)" (mouseleave)="moveUp(false)"></div>
            <div class="view-cube-arrow view-cube-arrow-right" (mousedown)="moveRight(true)" (mouseup)="moveRight(false)" (mouseleave)="moveRight(false)"></div>
            <div class="view-cube-arrow view-cube-arrow-down" (mousedown)="moveDown(true)" (mouseup)="moveDown(false)" (mouseleave)="moveDown(false)"></div>

            <div class="view-cube-home" (click)="reset()"></div>
        </div>

        <div class="view-cube-rotate view-cube-rotate-right" (mousedown)="rotateRight(true)" (mouseup)="rotateRight(false)" (mouseleave)="rotateRight(false)"></div>
    </div>

    <div class="view-cube-zoom" #zoomSliderHolder>
        <div class="view-cube-zoom-indicator" (mousedown)="startZoomDrag()" [style.top]="zoomSliderValue + '%'"></div>
    </div>
</div>

<div class="dialog" #dialog [hidden]="!dialogOpen">
    <div class="dialog-modal">
        <h3 class="dialog-title">Key bindings</h3>
        <div class="dialog-content">
            <p>
                The tool supports various key bindings.
            </p>

            <div class="help-key-stroke">
                <span class="help-key">W</span> Move up
            </div>

            <div class="help-key-stroke">
                <span class="help-key">D</span> Move right
            </div>

            <div class="help-key-stroke">
                <span class="help-key">S</span> Move down
            </div>

            <div class="help-key-stroke">
                <span class="help-key">A</span> Move left
            </div>

            <div class="help-spacing"></div>

            <div class="help-key-stroke">
                <span class="help-key">Q</span> Rotate left
            </div>

            <div class="help-key-stroke">
                <span class="help-key">E</span> Rotate right
            </div>

            <div class="help-spacing"></div>

            <div class="help-key-stroke">
                <span class="help-key">R</span> Zoom in
            </div>

            <div class="help-key-stroke">
                <span class="help-key">F</span> Zoom out
            </div>

            <div class="help-spacing"></div>

            <div class="help-key-stroke">
                <span class="help-key">T</span> Reset all transformations
            </div>
        </div>
        <div class="dialog-actions">
            <button type="button" class="button button-no-shadow button-primary button-small" (click)="close()">Close</button>
        </div>
    </div>
</div>
