<div class="view-cube">
    <div class="view-cube-pan-rotate">
        <div class="view-cube-rotate view-cube-rotate-left" (click)="rotateLeft()"></div>

        <div class="view-cube-help" (click)="openHelp()"></div>

        <div class="view-cube-pan">
            <div class="view-cube-arrow view-cube-arrow-left" (click)="moveLeft()"></div>
            <div class="view-cube-arrow view-cube-arrow-up" (click)="moveUp()"></div>
            <div class="view-cube-arrow view-cube-arrow-right" (click)="moveRight()"></div>
            <div class="view-cube-arrow view-cube-arrow-down" (click)="moveDown()"></div>

            <div class="view-cube-home" (click)="reset()"></div>
        </div>

        <div class="view-cube-rotate view-cube-rotate-right" (click)="rotateRight()"></div>
    </div>

    <div class="view-cube-zoom" #zoomSliderHolder>
        <div class="view-cube-zoom-indicator" (mousedown)="startZoomDrag()" [style.top]="zoomSliderValue + '%'"></div>
    </div>
</div>

<dialog class="mdl-dialog" #dialog tabindex="-1">
    <h4 class="mdl-dialog__title">Key bindings</h4>
    <div class="mdl-dialog__content">
        <p>
            The tool supports various key bindings.
        </p>

        <div class="help-key-stroke">
            <span class="help-key">W</span> Move up
        </div>

        <div class="help-key-stroke">
            <span class="help-key">D</span> Move right
        </div>

        <div class="help-key-stroke">
            <span class="help-key">S</span> Move down
        </div>

        <div class="help-key-stroke">
            <span class="help-key">A</span> Move left
        </div>

        <div class="help-spacing"></div>

        <div class="help-key-stroke">
            <span class="help-key">Q</span> Rotate left
        </div>

        <div class="help-key-stroke">
            <span class="help-key">E</span> Rotate right
        </div>

        <div class="help-spacing"></div>

        <div class="help-key-stroke">
            <span class="help-key">R</span> Zoom in
        </div>

        <div class="help-key-stroke">
            <span class="help-key">F</span> Zoom out
        </div>

        <div class="help-spacing"></div>

        <div class="help-key-stroke">
            <span class="help-key">T</span> Reset all transformations
        </div>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button close" (click)="close()">Close</button>
    </div>
</dialog>