<div class="sidebar">
    <div class="sidebar-search">
        <app-search [tree]="tree"></app-search>
    </div>

    <div class="sidebar-navigator">
        <div class="sidebar-content" #content>
            <app-tree-navigator #navigator [tree]="tree" [parent]="true"></app-tree-navigator>
        </div>

        <div class="sidebar-buttons">
            <i class="sidebar-button mdi mdi-arrow-collapse-vertical" (click)="contractAll()"></i>
            <button class="button button-no-shadow button-primary button-small" (click)="resetTree()">Reset to original</button>
            <i class="sidebar-button mdi mdi-file-download" (click)="exportTree()"></i>
        </div>
    </div>
</div>
