<canvas #canvas class="canvas" [tabindex]="tab.id" (mousedown)="mouseDown()" (mouseup)="mouseUp()" (mouseleave)="mouseUp()" (mousemove)="onDrag($event)" (wheel)="onScroll($event)" (click)="onClick($event)" (keydown)="keyEvent($event)"></canvas>
<!--<app-screenshot-button [canvas]="canvas"></app-screenshot-button>-->
<!--<app-view-cube [keyStrokeFunction]="passKeyStrokeFunction" [zoomFunction]="passZoomFunction"></app-view-cube>-->
<!--<app-visualization-settings-button *ngIf="form !== null" [form]="form" (valueChanges)="change($event)"></app-visualization-settings-button>-->
<!--<app-tooltip [hidden]="!tooltipActive" [x]="tooltipX" [y]="tooltipY" [label]="tooltipLabel === '' ? '(unnamed)' : tooltipLabel"></app-tooltip>-->